<div class="photo">
<div align="center">
    <h2 class="text"><b>Delete Book Record</b> </h2>
      <br><br>
     <form #deleteform="ngForm" (ngSubmit)="deletedata(deleteform)">
       <div class="form-group">
       <label> <b>Book ID : </b> </label><br>
       <input type="text" #id (ngModel)="id" name="id" id="id" class="form-class">
       </div> <br>
     
        <div class="form-group">
          <input type="submit" value="Delete" class="btn btn-primary w-20">
         </div>
    </form>
   </div><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  </div>